﻿@model List<Entities.StockDTO>
@{
    <link href="~/Content/mytmp/css/style2.css" rel="stylesheet" />
}
@section sec2{
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Received</th>
                    <th>Issued</th>
                    <th>Balance</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>


                @for (int i = 0; i < @Model.Count; i++)
                {
                    <form action='@Url.Content("~/DataManagement/DeleteStock")'>
                        <tr>
                            <td name="Name">@Model[@i].Name<input type="text" name="Name" style="display: none" value=@Model[@i].Name /></td>
                            <td name="Received">@Model[@i].Received <input type="text" name="Received" style="display: none" value=@Model[@i].Received /></td>
                            <td name="Issued">@Model[@i].Issued <input type="text" name="Issued" style="display: none" value=@Model[@i].Issued /></td>
                            <td name="Balance">@Model[@i].Balance <input type="text" name="Balance" style="display: none" value=@Model[@i].Balance /></td>
                            <td name="Date">@Model[@i].Date <input type="text" name="Date" style="display: none" value=@Model[@i].Date /></td>
                            <td><input type="submit" name="Delete" value="Delete" /></td>
                            <td><input type="text" name="ItemID" style="display: none" value=@Model[@i].ItemID /></td>
                        </tr>

                    </form>
                }




            </tbody>
        </table>
    </div>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddStock</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
