﻿@model List<Entities.DonorDTO>
@{
    ViewBag.Title = "BloodStock";
    Layout = "~/Views/Shared/Bloodlayout.cshtml";
    <link href="~/Content/mytmp/css/style.css" rel="stylesheet" />
}

<h2>BloodStock</h2>

@section sec{
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>CNIC</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Blood Group</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>


                @for (int i = 0; i < @Model.Count; i++)
                {
                    <form action='@Url.Content("~/DataManagement/DeleteBloodEntry")'>
                        <tr>
                            <td name="CNIC">@Model[@i].CNIC <input type="text" name="CNIC" style="display: none" value=@Model[@i].CNIC /></td>
                            <td name="Name">@Model[@i].Name <input type="text" name="Name" style="display: none" value=@Model[@i].Name /> </td>
                            <td name="Age">@Model[@i].Age  <input type="text" name="Age" style="display: none" value=@Model[@i].Age /></td>
                            <td name="BloodGroup">@Model[@i].BloodGroup <input type="text" style="display: none" name="BloodGroup" value=@Model[@i].BloodGroup /></td>
                            <td name="Phone">@Model[@i].Phone <input type="text" name="Phone" style="display: none" value=@Model[@i].Phone /></td>
                            <td name="Date">@Model[@i].Date <input type="text" name="Date" style="display: none" value=@Model[@i].Date /></td>
                            <td><input type="submit" name="Delete" value="Delete" /></td>
                            <td><input type="text" name="DonorID" style="display: none" value=@Model[@i].DonorID /></td>

                        </tr>
                    </form>

                }




            </tbody>
        </table>

    </div>
}