﻿@{
    ViewBag.Title = "DonorData";
}



<html>
<body>
 
        <div id="wrapper">
            <section id="inner-headline">
                <div class="container">
                    <div class="row">
                        <div>
                            <h2 class="pageTitle">Add Donor Data</h2>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="contact-form">
                            <form id="contact-form" role="form" novalidate="novalidate">
                                <div class="form-group has-feedback">
                                    <label for="name">Name*</label>
                                    <input type="text" class="form-control" id="name" name="Name" placeholder="">
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email">Age*</label>
                                    <input type="text" class="form-control" id="name1" name="Age" placeholder="">

                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email">CNIC*</label>
                                    <input type="text" class="form-control" id="name2" name="CNIC" placeholder="">

                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email">Blood Group*</label>
                                    <input type="text" class="form-control" id="name3" name="BloodGroup" placeholder="">

                                </div>

                                <div class="form-group has-feedback">
                                    <label for="email">Phone*</label>
                                    <input type="text" class="form-control" id="name4" name="Phone" placeholder="">

                                </div>

                                <div class="form-group has-feedback">
                                    <label for="email">Date</label>
                                    <input type="Date" class="form-control" id="name5" name="Date" placeholder="">

                                </div>
                                <input type="submit" value="Enter" id="btnSave" class="btn btn-default">
                        </form>
</div>
                    </div>

                </div>
            </div>

        </section>
    
</body>
</html>
<script>
    $(document).ready(MainFunction);
    function MainFunction() {

        $("#btnSave").click(function (e) {
               
            var data = {};
            var c = data.Name = $("#name").val();
            var a = data.Age = $("#name1").val();
            var p = data.CNIC =$("#name2").val();
            var q = data.BloodGroup =$("#name3").val();
            var zz = data.Phone = $("#name4").val();
            var z = data.Date = $("#name5").val();

            if (p == "" || c == "" || a == "" || q == "" || zz == "" || z == "") {
                alert("fill all fields");
            }
            else {
                var settings = {
                    type: "POST",
                    data: data,
                    async: true,
                    url: "/DataManagement/AddDonor",
                    success: function (d) {
                        if (d.success)
                            alert(d.message);

                    }
                };
                jQuery.ajax(settings);
                return false;
            }
        });//End of hyperlink Click

    }//End of Main Function

</script>

