﻿@{
    ViewBag.Title = "StockData";
}



<html>

<body>
   
        <div id="wrapper">
            <section id="inner-headline">
                <div class="container">
                    <div class="row">
                        <div>
                            <h2 class="pageTitle">Add Stock Data</h2>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="contact-form">
                            <form id="contact-form" role="form" novalidate="novalidate">
                                <div class="form-group has-feedback">
                                    <label for="name">Choose Item Name*</label>
                                    <select class="form-control" id="name" name="Name">
                                        <option> HBsAg</option>
                                        <option> HCV</option>
                                        <option> HIV</option>
                                        <option> TP</option>
                                        <option> MP</option>
                                        <option> CPDA-1</option>
                                    </select>

                                </div>
                                <div class="form-group has-feedback">
                                    <label for="name">Received*</label>
                                    <input type="text" class="form-control" id="name1" name="Received" placeholder="">
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email">Issued*</label>
                                    <input type="text" class="form-control" id="name2" name="Issued" placeholder="">

                                </div>
                                <div class="form-group has-feedback">
                                    <label for="date">Date*</label>
                                    <input type="date" class="form-control" id="name3" name="Date" placeholder="">

                                </div>




                                <input id="btn" type="submit" value="Enter" class="btn btn-default">
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </section>
   
</body>
</html>
<script>
 $(document).ready(MainFunction);
    function MainFunction() {

        $("#btn").click(function (e) {


            var data = {};
            var b = data.Name = $("#name").val();
            var c = data.Received = $("#name1").val();
            var a = data.Issued = $("#name2").val();
            var p =data.Date= $("#name3").val();
           

           
           if (p == "" || c=="" || a=="" || b=="") {
                alert("fill all fields");
            }
            else {
                var settings = {
                    type: "POST",
                    data: data,
                    async: true,
                    url: "/DataManagement/AddStock",
                    success: function (d) {
                        if (d.success)
                            alert(d.message);
                       
                    }
                };
                jQuery.ajax(settings);
                return false;
            }
        });//End of hyperlink Click

    }//End of Main Function

</script>