﻿@{
    ViewBag.Title = "UpdateReport";
}
@model Entities.DailyReportDTO


<html>

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div>
                        <h2 class="pageTitle">Update Report</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="contact-form">
                        <form id="contact-form" role="form" novalidate="novalidate" action=@Url.Content("~/DataManagement/UpdateReport") method="post">


                            <div class="form-group has-feedback">
                                <label for="name">Grouping*</label>
                                <input type="text" class="form-control" id="group" name="Grouping" value=@Model.Grouping>
                                @*<i class="fa fa-user form-control-feedback"></i>*@
                            </div>
                            <div class="form-group has-feedback">
                                <label for="email">Screened*</label>
                                <input type="text" class="form-control" id="screen" name="Screened" value=@Model.Screened>

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">Bleed*</label>
                                <input type="text" class="form-control" id="bled" name="Bleed" value=@Model.Bleed>
                                <input type="text" class="form-control" id="bled" name="ReportID" value=@Model.ReportID>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">HBV*</label>
                                <input type="text" class="form-control" id="hbv" name="HBV" value=@Model.HBV>

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">HCV*</label>
                                <input type="text" class="form-control" id="hcv" name="HCV" value=@Model.HCV>

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">HIV*</label>
                                <input type="text" class="form-control" id="hiv" name="HIV" value=@Model.HIV>

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">TP*</label>
                                <input type="text" class="form-control" id="ip" name="IP" value=@Model.TP>

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">MP*</label>
                                <input type="text" class="form-control" id="mp" name="MP" value=@Model.MP>

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">PCV*</label>
                                <input type="text" class="form-control" id="pcv" name="PCV" value=@Model.PCV>

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">FFP*</label>
                                <input type="text" class="form-control" id="ffp" name="FFP" value=@Model.FFP>

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">PLT*</label>
                                <input type="text" class="form-control" id="plt" name="PLT" value=@Model.PLT>

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">APHE*</label>
                                <input type="text" class="form-control" id="aphe" name="APHE" value=@Model.APHE>

                            </div>

                            <input type="submit" value="Update">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>