﻿@model Entities.StockDTO
@{
    ViewBag.Title = "UpdateData";
}



<html>

<body>
    <form action='@Url.Content("~/DataManagement/UpdateStock")'>
        <div id="wrapper">
            <section id="inner-headline">
                <div class="container">
                    <div class="row">
                        <div>
                            <h2 class="pageTitle">Update Stock Data</h2>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="contact-form">
                            <form id="contact-form" role="form" novalidate="novalidate">
                                <div class="form-group has-feedback">
                                    <label for="name">Choose Item Name*</label>
                                    <select class="form-control" id="name" name="Name" value=@Model.Name>
                                        <option> HBsAg</option>
                                        <option> HCV</option>
                                        <option> HIV</option>
                                        <option> TP</option>
                                        <option> MP</option>
                                        <option> CPDA-1</option>
                                    </select>

                                </div>
                                <div class="form-group has-feedback">
                                    <label for="name">Received*</label>
                                    <input type="text" class="form-control" id="name" name="Received" value=@Model.Received>
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email">Issued*</label>
                                    <input type="text" class="form-control" id="name" name="Issued" value=@Model.Issued>
                                    <input type="text" class="form-control" id="name" name="ItemID" style="display:none" value=@Model.ItemID>

                                </div>









                                <input type="submit" value="Enter" class="btn btn-default">
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </form>
</body>
</html>