﻿@model Entities.DonorDTO
@{
    ViewBag.Title = "UpdatePage";
}



<html>

<body>
    <form action='@Url.Content("~/DataManagement/Updates")'>
        <div id="wrapper">
            <section id="inner-headline">
                <div class="container">
                    <div class="row">
                        <div>
                            <h2 class="pageTitle">Update Donor Data</h2>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="contact-form">
                            <form id="contact-form" role="form" novalidate="novalidate">
                                <div class="form-group has-feedback">
                                    <label for="name">Name*</label>
                                    <input type="text" class="form-control" id="name" name="Name" value=@Model.Name>
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email">Age*</label>
                                    <input type="text" class="form-control" id="age" name="Age" value=@Model.Age>

                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email">CNIC*</label>
                                    <input type="text" class="form-control" id="cnic" name="CNIC" value=@Model.CNIC>

                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email">Blood Group*</label>
                                    <input type="text" class="form-control" id="group" name="BloodGroup" value=@Model.BloodGroup>
                                    <input type="text" class="form-control" id="group" name="DonorID" style="display: none" value=@Model.DonorID>

                                </div>

                                <div class="form-group has-feedback">
                                    <label for="email">Phone*</label>
                                    <input type="text" class="form-control" id="phone" name="Phone" value=@Model.Phone>

                                </div>







                                <input type="submit" value="Update" class="btn btn-default">
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </form>
</body>
</html>