﻿
@model List<Entities.DailyReportDTO>
@{
    ViewBag.Title = "ViewReport";
    <link href="~/Content/mytmp/css/style2.css" rel="stylesheet" />
}



@section sec{

<form action='@Url.Content("~/DataManagement/wrtDate")'>
    From: <input type="date" name="DateFrom"  />
    To: <input type="date" name="DateTo" />
    <input type="submit" value="Get Data"></form>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Report ID</th>
                    <th>Date</th>
                    <th>Grouping</th>
                    <th>Screened</th>
                    <th>HBV</th>
                    <th>HCV</th>
                    <th>HIV</th>
                    <th>TP</th>
                    <th>MP</th>
                    <th>PCV</th>
                    <th>FFP</th>
                    <th>PLT</th>
                    <th>APHE</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>


                @for (int i = 0; i < @Model.Count; i++)
                {
                    <form action='@Url.Content("~/DataManagement/UpdateRep")'>
                        <tr>

                            <td name="ReportID"> @Model[@i].ReportID <input type="text" name="ReportID" style="display:none" value="@Model[@i].ReportID" /></td>
                            <td name="Date"> @Model[@i].Date <input type="text" name="Date" style="display:none" value="@Model[@i].Date" /></td>
                            <td name="Grouping"> @Model[@i].Grouping <input type="text" name="Grouping" style="display:none" value="@Model[@i].Grouping" /></td>
                            <td name="Screened"> @Model[@i].Screened <input type="text" name="Screened" style="display:none" value="@Model[@i].Screened" /></td>
                            <td name="HBV"> @Model[@i].HBV <input type="text" name="HBV" style="display:none" value="@Model[@i].HBV" /></td>
                            <td name="HCV"> @Model[@i].HCV <input type="text" name="HCV" style="display:none" value="@Model[@i].HCV" /></td>
                            <td name="HIV"> @Model[@i].HIV <input type="text" name="HIV" style="display:none" value="@Model[@i].HIV" /></td>
                            <td name="TP"> @Model[@i].TP <input type="text" name="TP" style="display:none" value="@Model[@i].TP" /></td>
                            <td name="MP"> @Model[@i].MP <input type="text" name="MP" style="display:none" value="@Model[@i].MP" /></td>
                            <td name="PCV"> @Model[@i].PCV <input type="text" name="PCV" style="display:none" value="@Model[@i].PCV" /></td>
                            <td name="FFP"> @Model[@i].FFP <input type="text" name="FFP" style="display:none" value="@Model[@i].FFP" /></td>
                            <td name="PLT"> @Model[@i].PLT <input type="text" name="PLT" style="display:none" value="@Model[@i].PLT" /></td>
                            <td name="APHE"> @Model[@i].APHE <input type="text" name="APHE" style="display:none" value="@Model[@i].APHE" /></td>
                            <td><input type="submit" value="Update"></td>


                        </tr>

                    </form>
                }
            </tbody>
        </table>
    </div>
}
