﻿@{
    ViewBag.Title = "Contact";
}


<html>

<body>
    <form action='@Url.Content("~/Home/Change")' method="POST">
        <div id="wrapper">
            <section id="inner-headline">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="pageTitle">Change Passwords </h2>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content">

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="contact-form">

                                <div class="form-group has-feedback">
                                    <label for="name">User Name*</label>
                                    <input type="text" class="form-control" id="name" name="username" placeholder="" value="">
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>

                                <div class="form-group has-feedback">
                                    <label for="email">Old Passwords*</label>
                                    <input type="password" class="form-control" id="email" name="password" placeholder="" value="">

                                </div>

                                <div class="form-group has-feedback">

                                    <label for="email">New Passwords*</label>
                                    <input type="password" class="form-control" id="email" name="passwordn" placeholder="" value="">

                                </div>
                                <input type="submit" value="Login" class="btn btn-default">

                            </div>
                        </div>

                    </div>
                </div>

            </section>

        </div>
        <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    </form>
</body>

</html>

