﻿@{
    ViewBag.Title = "DailyReport";
}


<html>

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div>
                        <h2 class="pageTitle">Daily Report</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="contact-form">
                        <form id="contact-form" role="form" novalidate="novalidate" action=@Url.Content("~/Home/SignUp") method="post">

                            <div class="form-group has-feedback">
                                <label for="name">Date*</label>
                                <input type="date" class="form-control" id="date" name="Date" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">Grouping*</label>
                                <input type="text" class="form-control" id="group" name="Grouping" placeholder="">
                                @*<i class="fa fa-user form-control-feedback"></i>*@
                            </div>
                            <div class="form-group has-feedback">
                                <label for="email">Screened*</label>
                                <input type="text" class="form-control" id="screen" name="Screened" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">Bleed*</label>
                                <input type="text" class="form-control" id="bled" name="Bleed" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">HBV*</label>
                                <input type="text" class="form-control" id="hbv" name="HBV" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">HCV*</label>
                                <input type="text" class="form-control" id="hcv" name="HCV" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">HIV*</label>
                                <input type="text" class="form-control" id="hiv" name="HIV" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">TP*</label>
                                <input type="text" class="form-control" id="ip" name="IP" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">MP*</label>
                                <input type="text" class="form-control" id="mp" name="MP" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">PCV*</label>
                                <input type="text" class="form-control" id="pcv" name="PCV" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">FFP*</label>
                                <input type="text" class="form-control" id="ffp" name="FFP" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">PLT*</label>
                                <input type="text" class="form-control" id="plt" name="PLT" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">APHE*</label>
                                <input type="text" class="form-control" id="aphe" name="APHE" placeholder="">

                            </div>

                            <input type="submit" id="btnSave" value="Save" class="btn btn-default">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script type="text/javascript">

    $(document).ready(MainFunction);
    function MainFunction() {

        $("#btnSave").click(function (e) {

            var data = {};
            data.date = $("#date").val();
            data.grouping = $("#group").val();
            data.screened = $("#screen").val();
            data.bleed = $("#bled").val();
            data.hbv = $("#hbv").val();
            data.hcv = $("#hcv").val();
            data.hiv = $("#hiv").val();
            data.ip = $("#ip").val();
            data.mp = $("#mp").val();
            data.pcv = $("#pcv").val();
            data.ffp = $("#ffp").val();
            data.plt = $("#plt").val();
            data.aphe = $("#aphe").val();
            var settings = {
                type: "POST",
                data: data,
                async: true,
                url: "/Home/dailyinsert",
                success: function (d) {
                    if (d.success)
                        alert(d.message);
                }
            };
            jQuery.ajax(settings);
            return false;
        });//End of hyperlink Click
    }//End of Main Function

</script>