﻿

@{
    ViewBag.Title = "Delete";
    <link href="~/Content/mytmp/css/style3.css" rel="stylesheet" />
}



<html>

<body>
    <form action='@Url.Content("~/Home/Delete")' method="POST">
        <div id="wrapper">
            <section id="inner-headline">
                <div class="container">
                    <div class="row">
                        <div>
                            <h2 class="pageTitle">Delete Account</h2>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="contact-form">

                            <div>
                                <div class="form-group has-feedback">
                                    <label for="email">Username*</label>
                                    <input type="text" class="form-control" id="email" name="username" placeholder="" value="">

                                </div>
                            </div>

                            <input type="submit" value="Delete" class="btn btn-default">

                        </div>
                    </div>

                </div>
            </div>

        </section>
        </form>
</body>
</html>