﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blood Bank </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />
    
</head>
<body>
    <div id="wrapper">
        <!-- start header -->
     
        <!-- end header -->
        <section id="featured">

            <!-- Slider -->
            <div id="main-slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="~/Content/mytmp/img/slides/4.jpg" alt="" />
                        <div class="flex-caption">
                            <h3>Quality Care</h3>
                            <p>Your Health..Our Passion</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/mytmp/img/slides/5.jpg" alt="" />
                        <div class="flex-caption">
                            <h3>Particulars</h3>
                            <p>Percentage of Blood Product Usage 99.086%</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/mytmp/img/slides/3.jpg" alt="" />
                        <div class="flex-caption">
                            <h3>H.O.P.E</h3>
                            <p>Hold On Pain Ends</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end slider -->

        </section>
        <section id="content">


            <div class="container1">

                <div class="row">
                    <div class="col-md-7">
                        <!-- Heading and para -->
                        <div class="block-heading-two">
                            <h3><span>About Our Care</span></h3>
                        </div>
                        <p>
                            Our medical staff is the finest in the state.  Many of our physicians enjoy national reputations as being among the most experienced practitioners in their fields.  Our nursing staff is also superbly trained and attentive.  Our entire team of professionals takes great pride in the quality of the care we provide and in the integrity of our institution.






                           
                            </div>
                    </div>
                </div>
        </section>


        <section id="service">
            <div class="container1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-top">
                            <div class="service-header">
                                <h3>What we take CARE</h3>
                                <p>Duis bibendum diam non erat facilaisis tincidunt. Fusce leo neque, lacinia at tempor vitae, porta at arcu. <br> Vestibulum varius non dui at pulvinar. Ut egestas orci in quam sollicitudin aliquet.</p>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- row close -->

            </div><!-- .container close -->
        </section>

        
          
      
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 </body>
</html>