﻿
@{
    ViewBag.Title = "Insert";
     <link href="~/Content/mytmp/css/style3.css" rel="stylesheet" />
}



<html>

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div >
                        <h2 class="pageTitle">Blood Bank Management</h2>
                       
                    </div>
                </div>
            </div>
        </section>
        </div>

    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="contact-form">
                      <u> <a id ="pswd"href='@Url.Content("~/Home/Logout")'>Logout</a> </u>
                       &nbsp; &nbsp; &nbsp; &nbsp;  <u> <a id="pswd" href='@Url.Content("~/Home/Change")'>ChangePassword</a> </u> 
                        &nbsp; &nbsp; &nbsp; &nbsp;  <u> <a id="pswd" href='@Url.Content("~/Home/Delete")'>DeleteAccount</a> </u>
                        &nbsp; &nbsp; &nbsp; &nbsp;  <u> <a id="ps" href='@Url.Content("~/Home/ViewAccount")'>AccountView</a> </u>
                                                 <div >
                                <ul >
                                    <li><a id="ws" href="~/DataManagement/DonorData">Add Entry of Blood</a></li> <br />
                                    <li><a href="~/DataManagement/BloodStock">View Blood Stock </a></li>    <br>
                                    <li><a href="~/DataManagement/DeleteBloodStock">Delete Blood Stock </a></li> <br />
                                    <li><a id="ws" href="~/DataManagement/StockData">KITS Stock Management</a></li> <br />
                                    <li><a id="ws" href="~/DataManagement/GetStock">View KITS Stock</a></li> <br />
                                    <li><a href="~/DataManagement/Delete">Delete KITS Stock</a></li> <br />
                                    <li><a id="ws" href="~/Home/DailyReport">Insert Report of Blood Bank </a></li> <br />
                                    <li><a id="ws" href="~/DataManagement/ViewReport">View Report </a></li> <br /> 
                                    <li><a href="~/DataManagement/DeleteReport">Delete Report</a></li>
                                    <br />            
                                </ul>
                            </div>

                            
                      
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>
</html>