﻿
@{
    ViewBag.Title = "SignUp";
}



<html>

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div>
                        <h2 class="pageTitle">Sign Up</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="contact-form">
                        <form id="contact-form" role="form" novalidate="novalidate">
                           
                            <div class="form-group has-feedback">
                                <label for="name">Name*</label>
                                <input type="text" class="form-control" id="textName" name="name" placeholder="">
                               
                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">UserName*</label>
                                <input type="text" class="form-control" id="textUsername" name="name" placeholder="">
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="email">Password*</label>
                                <input type="password" class="form-control" id="textP" name="email" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">Confirm Password*</label>
                                <input type="password" class="form-control" id="tassword" name="name" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">JobTitle*</label>
                                <input type="text" class="form-control" id="textJob" name="name" placeholder="">

                            </div>
                            <div class="form-group has-feedback">
                                <label for="name">Date*</label>
                                <input type="date" class="form-control" id="textdate" name="name" placeholder="">

                            </div>
                           
                                <input type="submit" value="SignUp" id="btnSave" class="btn btn-default">
                                
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script>
 $(document).ready(MainFunction);
    function MainFunction() {

        $("#btnSave").click(function (e) {


            var data = {};
           var c = data.Name = $("#textName").val();
            var a = data.Username = $("#textUsername").val();
            var p = $("#textP").val();
            var q = $("#tassword").val();
            var cc = data.Passwords = p;
            var zz = data.jobTitle = $("#textJob").val();
           var z =  data.date = $("#textdate").val();
           
            if (p != q) {
                alert("Password and Confirm Password don't match");
                // Prevent form submission
               // event.preventDefault();
            }
           else  if (p == "" || c=="" || a=="" || q=="" || cc=="" || zz=="" || z=="" ) {
                alert("fill all fields");
            }
            else {
                
                
                var settings = {
                    type: "POST",
                    data: data,
                    async: true,
                    url: "/Home/SaveEmployee",
                    success: function (d) {
                        if (d.success)
                            alert(d.message);
                        window.location.href = "SignIn";
                    }
                };
                jQuery.ajax(settings);
                return false;
            }
        });//End of hyperlink Click
      
    }//End of Main Function

</script>