﻿


@model List<Entities.LoginDTO>
@{
    
    ViewBag.Title = "ViewAccount";
    <link href="~/Content/mytmp/css/style2.css" rel="stylesheet" />
}



@section sec{

    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Login ID</th>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Passwords</th>
                    <th>JobTitle</th>
                    <th>Date</th>
                   
                </tr>
            </thead>
        </table>
    </div>

    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>


                @for (int i = 0; i < @Model.Count; i++)
                {
                   
                        <tr>

                            <td name="LoginID"> @Model[@i].LoginID</td>
                            <td name="Name"> @Model[@i].Name</td>
                            <td name="UserName"> @Model[@i].Username</td>
                            <td name="Passwords"> @Model[@i].Passwords</td>
                            <td name="JobTile"> @Model[@i].JobTitle</td>
                            <td name="Date"> @Model[@i].Date</td>
                        </tr>

                  
                }
            </tbody>
        </table>
    </div>
}




