/*
Author URI: http://webthemez.com/
Note: 
Licence under Creative Commons Attribution 3.0 
Do not remove the back-link in this web template 
-------------------------------------------------------*/

@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700'); 
@import url('font-awesome.css');  
@import url('animate.css');

#pswd{
    position: relative;
    left: 90%;
    font-size: 20px;
    bottom:40px;
}
#ps{
    position: relative;
    left: 170%;
    font-size: 20px;
    bottom:65px;
}
#ws{
    font-size:15px;
}