﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Content/mytmp/js/jquery.js"></script>
    <script src="~/Content/mytmp/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/mytmp/js/bootstrap.min.js"></script>
    <script src="~/Content/mytmp/js/jquery.fancybox.pack.js"></script>
    <script src="~/Content/mytmp/js/jquery.fancybox-media.js"></script>
    <script src="~/Content/mytmp/js/portfolio/jquery.quicksand.js"></script>
    <script src="~/Content/mytmp/js/portfolio/setting.js"></script>
    <script src="~/Content/mytmp/js/jquery.flexslider.js"></script>
    <script src="~/Content/mytmp/js/animate.js"></script>
    <script src="~/Content/mytmp/js/custom.js"></script>
    <script src="~/Content/mytmp/js/owl-carousel/owl.carousel.js"></script>
    <link href="~/Content/mytmp/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/mytmp/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/Content/mytmp/css/jcarousel.css" rel="stylesheet" />
    <link href="~/Content/mytmp/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/mytmp/js/owl-carousel/owl.carousel.css" rel="stylesheet">

    <link href="~/Content/mytmp/css/style.css" rel="stylesheet" />
    <link href="~/Content/mytmp/css/style2.css" rel="stylesheet" />
</head>
<body>
    <header>
        <section class="contactInfo">
            <div class="container">


                <div class="col-md-12">
                    <div class="contact-area">
                        <ul>
                            <li><i class="fa fa-phone-square"></i>812-123-456</li>
                            <li><i class="fa fa-envelope-o"></i>info@bloodbank.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="~/Content/mytmp/img/logoo.png" id="img" alt="logo" /></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="~/Home/Index">Home</a></li>
                      
                        <li><a href="~/Home/Insert">Departments</a></li>
                        <li><a href="~/Home/SignUp">SignUp</a></li>
                        <li><a href="~/Home/SignIn">SignIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
        @RenderSection("sec", true)
    </div>
    <div class="testimonial-area">
        <div class="testimonial-solid">
            <div class="container">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="">
                            <a href="#"></a>
                        </li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                            <a href="#"></a>
                        </li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class="active">
                            <a href="#"></a>
                        </li>

                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <p>Doctors will have more lives to answer for in the net world than even we generals.</p>
                            <p>
                                <b>- Napolean Bonaparte -</b>
                            </p>
                        </div>

                        <div class="item active">
                            <p>Doctors have an ethical duty to follow the practices and standards of care.</p>
                            <p>
                                <b>- BOB McDonnell -</b>
                            </p>
                        </div>
                        <div class="item">
                            <p>Some people recover, because they believe in doctos.</p>
                            <p>
                                <b>- Hippocrates -</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container2">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget">
                        <h5 class="widgetheading">Our Contact</h5>
                        <address>
                            <strong>Blood Bank, Services Hospital</strong><br>
                            Jail Road, Near Race course Park.<br>
                        </address>
                        <p>
                            <i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
                            <i class="icon-envelope-alt"></i> email@bloodbank.com
                        </p>
                    </div>
                </div>


            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>
                                <span>&copy; Target 2014 All right reserved. By </span><a href="index.html" target="_blank">Blood Bank</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
</body>
</html>
